.topMenuWrapper {
  position: fixed;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 84px;
  transition: all 0.2s ease-in-out 0s;
  background-color: rgba(18, 18, 29, 0.3);
  border: 1px solid rgb(19, 19, 34);
  backdrop-filter: blur(8px);
  padding: 0.5rem;
}

.border {
  border: 1px solid rgb(40, 40, 59);
  transition: all 0.2s ease-in-out 0s;
}

.selectorWrapper {
  text-align: center;
  justify-content: space-around;
  /* padding: 0.5rem 0; */
  min-width: max-content;
  color: rgb(200, 199, 216);
  background-color: rgb(35, 35, 52);
  border-radius: 0.5rem;
  position: relative;
}

.dropDownWrapper {
  background-color: rgb(35, 35, 52);
  position: absolute;
  top: 3rem;
  padding: 6px 8px;
  border-radius: 8px;
  width: 9rem;
}
